body {
	background-image: url(imgs/image.jpg.jpg);
	background-size: cover;
}
h1{
	color: Red;
}
h2 {
	color: purple;
	text-align: center;
	border: 10px solid green; 
	background-color: pink;
	cursor: 
}

#div1{
	font-size: 160%;
	line-height: 40px;
	color: rgb(0, 156, 117);
}

.boxmodel{
	font-size: 40px;
	color: orange;
	border: 5px red solid ;
	display: inline-block;
	padding: 5px 10px;
	margin: 2px 10px;

}
span{
	color: brown;
	font-size: 1.2em;
}